<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light mat-elevation-z8">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Tweed.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <span class="spacer"></span>
    <div class="tweed">Tweed</div>
    <span class="spacer"></span>
    <div class="logout">Logout</div>
  </nav>
  <div class="container">
    <div class="col-md-12 text-center">
      <h3>Woops something went wrong!</h3>
      <p>We are unable to connect you.</p>
      <button class="load-more" routerLink="/login">Try Again</button>
    </div>
  </div>
  <div class="copyright">
    Copyright © 2013-2020 UCodeSoft Solutions Private Limited. All Rights Reserved.
  </div>