<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light mat-elevation-z8">
  <a class="navbar-brand" href="#">
    <img src="assets/images/Tweed.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <span class="spacer"></span>
  <div class="tweed">Tweed</div>
  <span class="spacer"></span>
  <div class="logout">Logout</div>
</nav>
<div class="container-fluid" style="background: #E5E5E5;">
  <div class="container">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-xs-16">
            <p class="card-text"><small class="text-muted text-uppercase">Python</small></p>
            <h5 class="card-title">Welcome to Python.org</h5>
            <p class="card-text">The official home of Python Programming Language</p>
          </div>
          <div class="col-sm-4 col-md-4 col-xs-8">
            <img alt="" src="assets/images/py.png" style="height: 84px; width: 84px" />
          </div>
        </div>
        <hr>
        <div>
          <span>100</span>
          <img src="assets/images/img_avatar.png" alt="Avatar" class="avatar">
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
            <p class="card-text"><small class="text-muted text-uppercase">Return</small></p>
            <h5 class="card-title">Business & Financial News, U.S & International Breaking News | Reuters</h5>
            <p class="card-text">Reuters.com brings you the latest news from around the world, covering breaking news in
              markets, business, politics, entertainment, technology, video and pictures</p>
        <hr>
        <div>
          <span>100</span>
          <img src="assets/images/img_avatar.png" alt="Avatar" class="avatar">
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-xs-16">
            <p class="card-text"><small class="text-muted text-uppercase">Laravel News</small></p>
            <h5 class="card-title">The Laravel team released 8.4, 8.5</h5>
            <p class="card-text">and 8.6 over the last week with plenty of new features including SQLite schema dump
              support, auto-handling castAsJson values that are “Jsonable,” an artisan command for clearing queues,
              along
              with the latest new features, fixes, and changes in the 8.x branch.</p>
          </div>
          <div class="col-sm-4 col-md-4 col-xs-8">
            <img alt="" src="assets/images/el.png" style="height: 150px; width: 260px" />
          </div>
        </div>
        <hr>
        <div>
          <span>100</span>
          <img src="assets/images/img_avatar.png" alt="Avatar" class="avatar">
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-xs-16">
            <p class="card-text"><small class="text-muted text-uppercase">Valuecoders - Hire Dedicated Software
                Development
                Team</small></p>
            <h5 class="card-title">Business & Financial News, U.S & International Breaking News | Reuters</h5>
            <p class="card-text">Reuters.com brings you the latest news from around the world, covering breaking news in
              markets, business, politics, entertainment, technology, video and pictures</p>
          </div>
          <div class="col-sm-4 col-md-4 col-xs-8">
            <img alt="" src="assets/images/blue.png" style="height: 100px; width: 220px" />
          </div>
        </div>
        <hr>
        <div>
          <span>100</span>
          <img src="assets/images/img_avatar.png" alt="Avatar" class="avatar">
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button class="load-more">Load more</button>
    </div>
  </div>
</div>
<div class="copyright">
  Copyright © 2013-2020 UCodeSoft Solutions Private Limited. All Rights Reserved.
</div>